phylosort.root.outgroup = yes
phylosort.query.required = yes
phylosort.mode = inclusive
phylosort.minimum.bootstrap.support = -1.0
phylosort.maximum.number.taxa = -1
phylosort.minimum.number.taxa = -1
phylosort.maximum.average.number.copies = -1.0
phylosort.on.match.action = move
# phylosort.pattern = ([^_]+_[^_]+).*
phylosort.pattern = (.*)-txid.*
phylosort.filename.pattern = (.+)\.tre$
phylosort.minimum.group.size = 1